.footer-container {
  width: 100vw;
  height: 100%;
  background: #fcf9f7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (max-width: 415px) {
    padding-top: 50px;
  }

  .footer-header {
    font-family: "Montaga", serif;
    font-style: normal;
    font-weight: 100;
    font-size: 50px;
    line-height: 100%;
    text-align: center;
    color: #2b1105;

    @media (max-width: 420px) {
      font-size: 50px;
    }
  }

  .footer-subtext {
    font-family: "Montaga", serif;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #2b1105;
    opacity: 0.7;

    @media (max-width: 420px) {
      font-size: 16px;
    }
  }

  .footer-grid-container {
    display: grid;
    width: 100vw;
    padding: 130px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    @media (max-width: 415px) {
      padding: 15px;
      gap: 30px;
    }
  }
}
