.middle-container {
  background: #fcf9f7;
  width: 100vw;
  height: 100vh;
  padding: 50px 120px 120px 120px;

  @media (max-width: 415px) {
    padding: 24px;
    width: 100vw;
    height: 100%;
  }

  .middle-top-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    align-items: center;
    justify-items: center;
    flex-direction: column;

    @media (max-width: 415px) {
      display: grid;
      grid-template-columns: 1 1fr;
      align-items: center;
      justify-content: center;
      padding: 24px;
    }

    .middle-top-profile-img {
      width: 290px;
      height: 290px;
      object-fit: cover;
      border-radius: 50%;

      @media (max-width: 415px) {
        width: 290px;
        height: 290px;
      }
    }

    .middle-top-middle-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 500px;

      @media (max-width: 415px) {
        grid-row: 3/4;
      }

      .middle-top-middle-header {
        font-family: "The Nautigal", cursive;
        font-size: 60px;
        font-weight: 500;
        line-height: 160%;

        @media (max-width: 415px) {
          font-size: 40px;
        }
      }

      .middle-top-middle-description {
        font-family: "Montaga";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        opacity: 0.7;
        text-align: center;

        @media (max-width: 415px) {
          font-size: 16px;
        }
      }
    }
  }

  .middle-middle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    margin-top: 40px;

    .middle-middle-header {
      font-family: "The Nautigal", cursive;
      font-size: 34px;
      font-weight: 500;
      line-height: 160%;
    }

    .middle-middle-location {
      font-family: "Montaga";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      color: #2b1105;
      opacity: 0.7;
    }

    .middle-middle-address {
      font-family: "Montaga";
      font-style: normal;
      font-weight: 100;
      font-size: 18px;
      line-height: 160%;
      color: #2b1105;
      max-width: 400px;
      text-align: center;
      opacity: 0.7;
    }

    .middle-middle-bottom-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-top: 10px;

      .middle-middle-bottom-text {
        padding: 8px;
        border: 1px solid #c6754d;
        border-radius: 24px;
        font-size: 24px;
        color: #c6754d;
        font-family: "Montaga";
        font-style: normal;
        font-weight: 100;
        width: 120px;
        text-align: center;
      }

      .middle-link {
        text-decoration: none;
        background: #c6754d;
        color: whitesmoke;
        font-family: "Montaga";
        font-style: normal;
        font-weight: 100;
        font-size: 18px;
        line-height: 160%;
        text-align: center;
        opacity: 0.7;
        border-radius: 24px;
        padding: 8px;
        width: 120px;
        cursor: pointer;
        border: none;
      }
    }
  }

  .middle-count-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 450px;
    padding: 10px;
    border: 1px solid #c6754d;
    margin-top: 60px;
    position: relative;
    z-index: 2;
    @media (max-width: 415px) {
      padding: 5px;
      width: 375px;
      grid-template-columns: repeat(4, 1fr);
    }
    .middle-count-header {
      position: absolute;
      width: 160px;
      height: 40px;
      background: #fcf9f7;
      z-index: 2;
      top: -20px;
      text-align: center;
      left: 150px;
      font-family: "The Nautigal", cursive;
      font-size: 34px;
      font-weight: 100;
      line-height: 100%;
      @media (max-width: 415px) {
        height: 24px;
        font-size: 34px;
        left: 100px;
        top: -20px;
      }
    }

    .count-label-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .middle-count-text {
        font-family: "Montaga";
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 160%;
        color: #c6754d;
        opacity: 0.7;
        @media (max-width: 415px) {
          font-size: 15px;
        }
      }
      .middle-count-subtext {
        font-family: "Montaga";
        font-style: normal;
        font-weight: 100;
        font-size: 18px;
        line-height: 160%;
        color: #2b1105;
        opacity: 0.7;
      }
    }
  }
}
