.form-container {
  background: #fcf9f7;
  width: 100%;
  padding: 150px 330px;
  @media (max-width: 1186px) {
    padding: 250px;
  }

  @media (max-width: 1186px) {
    padding: 50px;
  }

  @media (max-width: 647px) {
    padding: 24px;
    height: 100%;
  }

  .card-form-container {
    width: 100%;
    height: 500px;
    position: relative;
    background: #fff;
    padding: 55px 60px;
    z-index: 5;
    box-shadow: 0 0 50px 5px rgb(0 0 0 / 5%);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    @media (max-width: 647px) {
      height: 100%;
    }
    @media (max-width: 420px) {
      padding: 30px 24px;
    }

    .form-header {
      font-family: "Montaga";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 16px;
      color: #0e0804;
      width: 200px;
      @media (max-width: 420px) {
        font-size: 20px;
      }
    }

    .error-text {
      font-family: "Montaga";
      font-style: italic;
      font-weight: 100;
      font-size: 12px;
      line-height: 100%;
      color: red;
    }
    .form-container-inputs {
      width: 100%;
      background: #fff;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      margin-top: 25px;

      @media (max-width: 1186px) {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
      @media (max-width: 740px) {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
      }
      @media (max-width: 415px) {
        grid-template-columns: 1, 1fr;
      }

      .confirm-button {
        width: 100%;
        height: 50px;
        background: #c6754d;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-family: "Montaga";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        grid-column: 1/3;
        margin-bottom: 25px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          background: #fcf9f7;
          color: #c6754d;
        }
      }

      .form-input {
        border: 1px solid #eee;
        padding: 8px 14px;
        font-size: 16px;
        font-family: "Montaga";
        font-style: oblique;
        font-weight: 200;
        box-shadow: none;
        appearance: none;
        color: #f2c2a9;
        -webkit-appearance: none;
        border-radius: 0;
        outline: none;
        @media (max-width: 415px) {
          grid-column: 1/3;
        }
        &::placeholder {
          font-weight: 100;
          color: #d2d0cf;
        }
      }

      #email {
        grid-column: 1/3;
        @media (max-width: 1186px) {
          max-width: 414px;
        }
      }
      #select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #d2d0cf; /* Remove default arrow */
        option {
          color: #d2d0cf;
        }
      }
      #text-area {
        resize: none;
        height: 75px;
        grid-column: 1/3;
      }
    }
  }
}
