* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
}

main {
  section {
    width: 100%;
    background-color: #e1e0e0;
    position: relative;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; //for firefox

    // transition: 5ms all ease-out;
    &::-webkit-scrollbar {
      display: none; //other webBrowsers
    }
  }
}

.button-music {
  border: 1px solid black !important;
  border-radius: 50% !important;
  padding: 10px;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-left: 80% !important;
}
